*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #d7ebab;
    font-family: 'Roboto Mono', monospace;
}

body{
    min-height: 100vh;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-size: 36pt;
}

.index_title{
	animation: Slide_Up 1.4s ease;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 25px auto 0 auto;
}

.introduction div, p{
    font-size: 16pt;
    margin-bottom: 10px;
	animation: Slide_Up 1.6s ease;
}

.container{
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.inner{
	text-align: center;
	overflow: hidden;
}

@keyframes Slide_Up{
	0%{
		transform: translateY(250px);
	}
	100%{
		transform: translateY(0);
	}
}

.quote{
	margin-top: 3em;
    height: 80px;
	font-size: 14pt;
	font-weight: bold;
	animation: Slide_Up 2.1s ease;
}

.picture{
    height: 350px;
    width: 300px;
	margin: 2em auto 0 auto;
	animation: Slide_Up 2.1s ease;
}

.picture img{
    height: 350px;
}
.name{
	animation: Slide_Up 2.3s;
	font-weight: bold;
}
.biography{
	margin-top: 2em;
    height: 300px;
	animation: Slide_Up 2.5s;
}
.generateButton{
	animation: Slide_Up 1.8s ease;
}
.container button{
    font-weight: bolder;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    background-color: #b2cc78;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #dae0cc;
	margin-top: 2em;
}

.container button:hover{
    cursor: pointer;
    box-shadow: inset 125px 0 0 0 #dae0cc;
}
